@import "/styles/variables.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
////////////////////////////SEARCH
.searchField {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.searchForm {
  display: flex;
  align-items: center;
}
.searchSubmit {
  background-color: transparent;
  border: none;
  transform: rotateY(180deg);
  transition: transform 0.2s ease-in-out;
  font-size: large;
  color: $white;
  padding: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.searchInput {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px;
  border-radius: 50px;
  text-shadow: 0px 0px 2px rgba(42, 42, 42, 0.46);
  box-shadow: 1px 0px 7px 0px rgba(42, 42, 42, 0.52);
  padding: 15px;
  font-size: 15px;
  width: 50vw;
  height: 5vh;
}
.searchInput:focus {
  input[type="text"]:focus {
    outline: none;
  }
}
///////////////////////////FILTERS
.filters {
  display: flex;
  justify-content: center;
}
.filters > * {
  transition: transform 0.2s ease-in-out;
}
.filters *:hover {
  cursor: pointer;
}
.filters *:active {
  transform: scale(0.9);
}
.filterSelect {
  color: inherit;
}
.filterSelected {
  color: red;
}
.filterOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  font-size: xx-large;
  max-height: 300px;
}
.filterOptions > * {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.workType {
  font-size: medium;
}
//////////////////////////COMPANIES
.company {
  width: 80vw;
  height: 40vh;
  background: $white;
  margin: 50px 10px;
  color: $black;
}
//////////////////////////MISC
.arrowUp,
.arrowUp_inner {
  font-size: 50px;
  position: fixed;
  bottom: 10vh;
  right: 3vw;
  color: $white;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 1130px) {
  .arrowUp,
  .arrowUp_inner {
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    opacity: 0.5;
  }
}
