@import "@/styles/variables.scss";
footer {
  background: $blue;
  color: $white;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 1130px) {
  footer {
    font-size: small;
  }
}
