@import "variables.scss";
.container1 {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.stat {
  font-size: 50px;
}
.statElem {
  font-size: 30px;
}
.body {
  display: block;
  position: relative;
  z-index: 0;
  background: #55828b91;
}
.body::after {
  content: "";
  background: url("../public/backg.svg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.subtitle {
  color: white;
  transition: color 0.3s;
}
.subtitle:hover {
  cursor: pointer;
  color: $white;
}
