$black: #4d4848;
$white: #ffffff;
$theme: #f15025;
$second: #c8cac8;
$third: #ced0ce;
$background: #2e2e2e;
//////////////////
$height: calc(100vh - 80px);
/////////////////
$backgPic: url("/backg.svg");
