$black: #364958;
$green: #3b6064;
$blue: #55828b;
$white: #c9e4ca;
$greyGreen: #87bba2;
$background: #55828b91;
//////////////////
$height: calc(100vh - 80px);
/////////////////
$backgPic: url("/public/backg.svg");
